
<form
name="form"
(ngSubmit)="onSubmit()"
#f="ngForm"
novalidate
>
<div align="center">
<div align="left" style=" background-color: white;  width:550px;" class="table-responsive" >
<br>

<label class="col-lg-5">Email<span style="color:red;">*</span></label>

<input type="text" name="email" required id="email" [(ngModel)]="form.email" readonly
class="form-control" >

<label class="col-lg-5">Old Password<span style="color:red;">*</span></label>

<input type="password" name="old_password" required id="old_password" [(ngModel)]="form.old_password"
class="form-control" >

<label class="col-lg-5">New Password<span style="color:red;">*</span></label>

<input type="password" name="new_password" required id="new_password" [(ngModel)]="form.new_password"
class="form-control" >

<label class="col-lg-5">Confirm Password<span style="color:red;">*</span></label>

<input type="password" name="confirm_password" required id="confirm_password" [(ngModel)]="form.confirm_password"
class="form-control" >

<br>

<br>

<div align="center">

<button 
class="btn btn-info btn-bordered waves-effect waves-light">
Change Password</button>

</div>
<br>
</div>
</div>
</form>
<br>


